{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking and Purchases History</title>
    <style>
      {% include "static/adminsecondarypages.css" %}
    </style>
  </head>
  <body>
    <h1>Add Booking and Purchases History</h1>

    <form action="addrecordbookingandpurchaseshistory/" method="post">
      {% csrf_token %}
      Time:
      <br />
      <input name="time" />
      <br /><br />
      Description:
      <br />
      <input name="description" />
      <br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
